*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#left{
    width: 50%;
    height: 100vh;
    background:  linear-gradient(300deg, rgba(0,0,0,1) 15%, rgba(167,253,45,1) 100%);
    opacity: 5.0;
    background-size: 400% 400%;
	animation: right_gradient 10s ease infinite;
}
@keyframes left_gradient {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 50% 0%;
	}
}


#right{
    width: 50%;
    height: 100vh;
    background: radial-gradient(circle, rgba(0,0,0,1) 10%, rgba(167,253,45,1) 100%);
    position: absolute;
    top: 0;
    right: 0;
    background-size: 400% 400%;
	animation: right_gradient 10s ease infinite;
}
@keyframes right_gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#img{
    width: 400px;
    position: absolute;
    top: 20%;
    right: 30%;
}
#img img{
    width: 100%;
    height: auto;
}